<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5" *ngIf="!(isAuthenticated$ | async)">
    <h1 class="display-9 fw-bold mb-3">Demo App</h1>
    <p class="col-md-10 fs-5">This is a demo application to show the authentication and authorization using
      OAuthServer built in spring-boot.</p>
    <p class="col-md-10 fs-5">Click on the <strong>Login</strong> button to sign-in using the `authorization_code` flow
      in the OAuth2 spec.
    </p>
    <button class="btn btn-primary btn-lg " (click)="login()">Login</button>
  </div>

  <div class="container-fluid py-5" *ngIf="isAuthenticated$ | async">
    <h1 class="display-9 fw-bold mb-3">Welcome {{user.firstName + ' ' + user.lastName}}</h1>
    <p class="col-md-10 fs-5">You can now navigate to employees page. </p>
    <p class="col-md-10 fs-5">Employees page will display a list of all the employees in the database. To retrieve this
      data a valid access token / jwt is required by the backend.</p>
  </div>
</div>
